/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --color1 : #0f0;
    --color2 : #ff5400;
    --color3 : #9b9a9a;
    --color4 : #fff;
    --color5 : #111;
    
    --mainColor: #89216b;
    --whiteColor: #ffffff;
    --titleColor: #555555;
    --labelColor: #333333;
}

/* Quote Styling */


.container p {
    position: absolute;
    left: 70px; /* Position it on the right */
    top: 50px; /* Vertical position remains the same */
    font-size: 4.5vw; /* Increased font size */ /* Added padding for a larger clickable area */
    font-family: "Poppins", sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.1vw var(--color5);
}


.container p:before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    color:var(--color4);
    -webkit-text-stroke: 0vw var(--color5);
    border-right: 2px solid var(--color4);
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}


.nara {
    position: relative;
    left: -500px; /* Position it on the right */
    top: 23px; /* Vertical position remains the same */
    color: var(--color4); /* Text color */
    font-size: 35px; /* Increased font size */; /* Added padding for a larger clickable area */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: inline-block;
    width: 362px;
    overflow: hidden;
}

.nara::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color5);
    opacity: 0.75;
    animation: animate 5s linear infinite;
    z-index: -1;
}

.nara p{
    display: inline;
}



/* Body Styling with Background Image */

body {
    font-weight: 400;
    min-height: 100vh;
    display: grid;
    place-content: center;
    overflow: hidden;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(0.8px); /* Adjust blur level */
    z-index: -1; /* Keeps it in the background */
  }

/* Content Styling with Transparency */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.wrapper {
    position: relative;
    width: 35rem;
    height: 50rem;
}

@media(min-width: 540px) {
    .wrapper {
        width: 40rem;
    }
}

.wrapper .form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color5);
    opacity: 0.9;
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
}



#sign-up {

    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    color: var(--color2);
}
#sign-in{
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    color: var(--color2);
}

#sign-up:hover {
    color: var(--color4);
}
#sign-in:hover{
    color: var(--color4);

}



.wrapper .form-container form .form-group {
    position: relative;
    width: 32rem;
    margin: 3rem 0;
}
#Upusername{
    position: relative;
    width: 32rem;
    margin-top: 15px;
}

.wrapper .form-container form .form-group i,
.wrapper .form-container form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--color3);
    padding: 0 .5rem;
    pointer-events: none;
    transition: all .5s ease;
}

.wrapper .form-container form .form-group i {
    color: var(--color2);
    left: .5rem;
}

.wrapper .form-container form .form-group label {
    left: 2.5rem;
}




.wrapper .form-container form .form-group input {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    border: .1rem solid var(--labelColor);
    font-size: 1.6rem;
    color:  grey;
    background: transparent;
}



form .form-group input:focus~label,
form .form-group input:not(:placeholder-shown)~label,
form .form-group input:focus~i,
form .form-group input:not(:placeholder-shown)~i
{
    top: -7px !important;
    font-size: 1.2rem !important;
}

.wrapper .form-container form .forgot-pass {
    margin-top: 15px;
    margin-bottom: 70px;
    
}

.wrapper .form-container form .forgot-pass a {
    position: absolute;
    right: 2.5rem;
    color: var(--color2);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    transform: all .5s ease;
}

.wrapper .form-container form .forgot-pass a:hover {
    color: var(--color4);
}

.wrapper .form-container form .btn {
    background: var(--color2);
    color: var(--color5);
    text-transform: capitalize;
    width: 100%;
    height: 4rem;
    font-size: 20px;
    font-weight: 500;
    border:1px solid var(--color5);
    border-radius: .5rem;
    cursor: pointer;
}

.wrapper .form-container form .btn:hover {
    background: var(--color5);
    border-color: var(--color4);
    color: var(--color2);
}

.wrapper .form-container form .link {
    text-align: center;
    font-size: 1.4rem;
    color: var(--labelColor);
    margin: 2.5rem 0;
}

.wrapper .form-container form .link p{
    color: var(--color4);
}

.wrapper .form-container form .link a {
    text-transform: capitalize;
    color: var(--color2);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: all .5s ease;
}

.wrapper .form-container form .link a:hover {
    color: var(--color4);
}

.wrapper .sign-up {
    transform: rotate(7deg);
}

.wrapper.animated-signin .form-container.sign-in {
    animation: signin-flip 1s ease-in-out forwards;
}

@keyframes signin-flip {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signin .form-container.sign-up {
    animation: rotatecard .7s ease-in-out forwards;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animated-signup .form-container.sign-up {
    animation: signup-flip 1s ease-in-out forwards;
}

@keyframes signup-flip {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.wrapper.animated-signup .form-container.sign-in {
    transform: rotate(7deg);
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}